.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
   .contact-header{
        width: 100%;
        height: auto;
            .sillonFondo{
                width: 100%; 
                position: relative;
            }
            .text-img{
                width: 100%;
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -45%);
                text-align: center;
                    h1{
                    font-size: 3rem;
                    margin: 0;
                    width: 100%;
                    }
                    h2{ 
                    font-size: 2rem;
                    margin: 0;
                    width: 100%;
                    }
            }
            
    }
    .contact-footer{
        text-align: center;
        h4,h3, p{
            margin: 0.7rem;
        }
       
        hr{
            width: 15%;
            margin: 1rem auto;
            border-top: 4px double #000;
        }
    }
}
 
