.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem;
}
.navbar div{
    display: flex;
    align-items: center;
}
.navbar div ul{
    list-style: none;
    display: flex;
    padding: 0;
}
.navbar div ul li{
    margin: 0.5rem;
}
.navbar div ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0.5rem;
    color: black;
}